@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,p,ul,li,ol,dl,dt,dd,div,a,i,b,em,strong,span,img,input{ margin:0; padding:0;}
b,strong{ font-weight:noroal;}
i,em{ font-style:normal;}
li{ list-style:none;}
a{ text-decoration:none;}
input{ border:none; background:none; outline:none;}
textarea{ outline:none; resize:none;}
img{ display:block;}

.clearFix:after{ content:''; clear:both; display:block;}
.clearFix{zoom:1;}
.fl{ float:left; dispiay:inline;}
.fr{ float:right; dispiay:inline;}
body{ background:#f4f4f4;}


