@charset "utf-8";
/* CSS Document */

body,h1,h2,h3,h4,h5,h6,p,ul,li,ol,ul,dl,dt,dd,a,i,b,em,strong,img,input{ margin:0; padding:0;}
b,strong{ font-weight:normal;}
i,em{ font-style:normal}
a{ text-decoration:none;}
li{ list-style:none;}
input{ border:none; background:none; outline:none;}
tetxarea{ outline:none;resize:none;}
img, input, select{ vertical-align:top; }
img{ display:block;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
.clearFix:after{ content:''; clear:both; display:block;}


